
@{
    ViewData["Title"] = "Bookstore Home Page";
}
@model BooksViewModel
<h1>Welome to my online bookstore!</h1>

@foreach (Book b in Model.Books)
{
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h3>
            @b.Title
            <span class="badge badge-pill badge-primary" style="float:right" color="#000">
                <small font-color="#000">$@b.Price</small>
            </span>
        </h3>
    </div>
    <div class="card-text p-1">
        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category </li>
            <li>Page Count: @b.PageCount pages</li>
        </ul>
    </div>
</div>
}
<div page-blah="@Model.PageInfo" page-action="Index" ></div>


         
         

 @*<a asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-action="Index" asp-route-pageNum="3">3</a>*@
 @*when you see Page-blah go use the special tag helper i set up (paginationTagHelper) and you are going to pass
                it in all the PageInfo that came in the Model from the Controller.*@


